{$breadcrumb}
<div class="page_content_offset">
    <div class="container">
        <div class="row clearfix">
            <!--left content column-->
            <section>
                <h2 class="tt_uppercase color_dark m_bottom_30">{'Reset Password Success'|tr}</h2>  
                <div style="margin:20px; color: red;">
                <div class="alert_box r_corners color_green success m_bottom_10">
                    <i class="fa fa-smile-o"></i><p>{'Thank you for your action, a new password has been sent to your email address.'|tr}<br/>
                        {'Please go ahead and login to your account and edit your new password and change it to your own setting.'|tr}
                        <br />
                        {'Note: if you could not find our email in your inbox, please check you junk mail folder, you might find it there.'|tr}</p>
                </div>
                   
                    <br />
                    <div style="margin:20x;">
                        <a  href="index.php?module=crm&page=intern-shop-login" class="Button">{'Login'|tr}</a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>