<div class="core_content" style="min-height: 38px">
    <h2 class="tt_uppercase color_dark m_bottom_30">{'Account Information'|tr}</h2>
    <div>
        {$quickregform->Render()}
    </div>
</div>
<br />
<div class="core_content" style="min-height: 38px">
    <h2 class="tt_uppercase color_dark m_bottom_30">{'Invoice'|tr} & {'Shipping Address'|tr}</h2>
</div>
<br />
<div class="core_content" style="min-height: 38px">
    <h2 class="tt_uppercase color_dark m_bottom_30">{'Shipping Method'|tr}</h2>
</div>
<br />
<div class="core_content" style="min-height: 38px">
    <h2 class="tt_uppercase color_dark m_bottom_30">{'Payment Method'|tr}</h2>
</div>
<br />
<div class="core_content" style="min-height: 38px">
    <h2 class="tt_uppercase color_dark m_bottom_30">{'Preview Order'|tr}</h2>
</div>
