
{$breadcrumb}

<div class="page_content_offset">
    <div class="container">
        <div class="row clearfix">
            <!--left content column-->
            <section>
                <h2 class="tt_uppercase color_dark m_bottom_25">{'Confirm Payment submitted'|tr}</h2>
                <div class="alert_box r_corners color_green success m_bottom_10">
                    <i class="fa fa-smile-o"></i><p>{'We have received your confirm payment'|tr}.</p>
                </div>

                <div class="amh-container" style="margin-top: 20px">
                    <a href="index.php?module=saleorder&page=list" role="button" class="d_inline_b bg_light_color_2 color_dark tr_all_hover button_type_4 r_corners"><i class="fa fa-reply m_left_5 m_right_10 f_size_large"></i>{'Back to Sales Order List'|tr}</a>
                </div>
            </section>

        </div>

    </div>
</div>
