<div class="product_box shadow_full" style="width: 200px">
        <div class="product_title" style="text-align: center">Smart Phone</div>
        <img class="box_image_wrapper" src="{$item->getFirstThumb()|default:'media/product/images/bww197x07.jpg'}" style="max-height: 240px; max-width: 190px"  />
        <div class="product_price" style="text-align: center">{$item->getPrice()|price}</div>
        <div style="text-align: center"><a class="button-general bblue"  href="{$item->getUrl()}" >{'Preview'|tr}</a></div>
        <br />
        <br />
</div>

