<fieldset>
  <legend>{$tr['Information']}</legend>
  <div class="{$class}">{$message}</div>
</fieldset>
<fieldset>
  <legend>
    <span class="add"><a href="admin.php?module=cms&page=menu-add">{'Add new Menu Point'|tr}</a></span> | 
    <span class="list"><a href="admin.php?module=cms&page=page-list">{'List Pages'|tr}</a></span> |
    <span class="add"><a href="admin.php?module=cms&page=page-add">{'Add new Page'|tr}</a></span>
  </legend>
  <div class="panel">
    {$form->Render()}
  </div>
</fieldset>
<script>
CKEDITOR.config.contentsCss = '{$shop->appurl}/Design/Frontend/Pdr/Layout/Default/style.css';
</script>