<div style="width: 210px; height: 314px; position: relative;">

    <div style="width: 210px; height: 314px; position: absolute; top: 0px; left: 0px; display: block;">
        <div style="width: 210px; height: 314px; position: absolute; top: 0px; left: 0px; overflow: hidden;">
            <img src="http://www.amhsoft.com/design/dantela-mark/img/product_banner1.jpg" width="210" height="314">
        </div>
    </div>

    <div style="width: 210px; height: 314px; position: absolute; top: 0px; left: 0px; display: block;">
        <a href="http://www.amhsoft.com/design/dantela-mark/products_details.html#1" target="" style="width: 210px; height: 314px; position: absolute; top: 0px; left: 0px; display: block; opacity: 0; background-color: rgb(0, 0, 0); background-position: initial initial; background-repeat: initial initial;"></a>
    </div>
    <div style="display: none;">
    </div>
    <div>
        <a href="javascript:void(0);" class="SliderNamePrev"></a>
        <a href="javascript:void(0);" class="SliderNameNext"></a>
    </div>
</div>