{literal}
<script>
    function changeLocation(catid) {
        window.location.href = 'index.php?module=product&page=list&cat=' + catid;
    }
</script>
{/literal}
<div class="amh-container amh-only-mobile">
    <div class="panel-div">
        <select name="cat" onchange="changeLocation(this.value)">    
            {foreach Modules_Product_Frontend_Boot::getMainCategories() as $m}
            <option value="{$m->id}" {if $smarty.get.cat == $m->id}selected="selected"{/if}>{$m->getName()}</option>
            {/foreach}
        </select>
    </div>
</div>
<div class="">
    <div class="toolbar amh-only-desktop">
        <form name="list_form" method="get" action="index.php" style="display:inline;">
            <label for="products_per_page">{'Products per page'|tr}</label>
            <select name="products_per_page" id="products_per_page" onchange="javascript:window.location.href = '{$product_per_page_url}&products_per_page=' + this.value;">
                <option value="9" {if $products_per_page == 9} selected="selected" {/if}>9</option>
                <option value="12" {if $products_per_page == 12} selected="selected" {/if}>12</option>
                <option value="16" {if $products_per_page == 16} selected="selected" {/if}>16</option>
                <option value="20" {if $products_per_page == 20} selected="selected" {/if}>20</option>
                <option value="30" {if $products_per_page == 30} selected="selected" {/if}>30</option>
                <option value="50" {if $products_per_page == 50} selected="selected" {/if}>50</option>
                <option value="100" {if $products_per_page == 100} selected="selected" {/if}>100</option>
            </select>
            <label for="sort_by">{'Sort by'|tr}</label>
            <select name="sort_by" id="sort_by" onchange="javascript:window.location.href = '{$sort_url}&sort_by=' + this.value;">
                <option value="">{'Please select'|tr}</option>  
                <option value="priceasc"{if $sort_by == 'priceasc'} selected="selected"{/if}>{'Price Ascending'|tr}</option>
                <option value="pricedesc"{if $sort_by == 'pricedesc'} selected="selected"{/if}>{'Price Descending'|tr}</option>
            </select>
            <span></span>
        </form>
        <span class="item_count">{'Result'|tr}:  <script type="text/javascript"> document.write($("#products_per_page option:selected").text());</script>  {'from'|tr}  {$total_result}</span>
        <a class="layout_switch_1{if $layout == 2} current{/if}" title="{'Show one product per line.'|tr}" href="{$layout_url}&layout=2"></a>
        <a class="layout_switch_2{if $layout == 1} current{/if}" title="{'Show multi products per line.'|tr}"  href="{$layout_url}&layout=1"></a>
    </div>
    <div style="clear:both; height: 30px"></div>
    {*<h1> {'Results'|tr}</h1>*}
    {if $total_result == 0}
    <div class="search_table tableborder" style="padding:15px; min-height: 70px">
        <p>{'No Products available'|tr}.</p>
    </div>
    {else}
    {if $layout == 1 || $layout=='grid'}
    <section class="products_container category_grid clearfix m_bottom_15">
        {while $item =  $items->fetch()}
        {include file='Modules/Product/Frontend/Views/Item.html'}
        {/while}
    </section>
    {else}
    <section class="products_container list_type clearfix m_bottom_5 m_left_0 m_right_0">
        {while $item =  $items->fetch()}
        {include file='Modules/Product/Frontend/Views/ItemList.html' counter=$counter++}
        {/while}
    </section>
    {/if}
    {/if}
    <div style="clear: both; height: 40px; padding: 10px 10px 0px 10px; text-align: center;">{$pager}</div>
</div>
<div style="clear:both;" ></div>
