<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>Control Panel AMHSHOP v.1.0</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <style type="text/css">
      <!--
      body, html {
        font:normal 12px "Trebuchet MS" Tahoma;
        color:#666666
      }
      .title {
        color: #0033CC;
        font-weight: bold;
      }
      .table{
        border-style:solid;
        border-width:2px;
        border-color:#CCCCCC;
      }
      label{
        display: block
      }
      -->
    </style>

  </head>
  <body>
    <table width="100%" border="0" align="center"  style="border-bottom: 1px solid gray; margin-bottom: 50px">
      <tr>
        <td align="left"><img src="Amhsoft/Ressources/Icons/amhsoft.png" width="151" height="42" alt="AMHSOFT logo - الشعار"></td>
      </tr>
    </table>
    <br>
    <table width="453" border="0" align="center" cellpadding="0" cellspacing="0" class="table">
      <tr><td  style="height: 59px; background: url('Amhsoft/Ressources/Icons/login-header.gif')"><div style="color: white; font: bold 16px Arial; text-align: right; padding-right: 20px"> Administration - الادارة</div></td></tr>
      <tr>
        <td width="60%"><table width="300" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td width="352">
                <div style="padding:30px;">
                  {$form->render()}
                </div>
                <h3>{if $reset_message}{$reset_message} {/if}</h3>
              </td>            
            </tr>
            <tr>
              <td style="padding: 0 20px"><a href="admin.php?module=user&page=user-login">{'Back to login'|tr}</a><br /></td>
            </tr>
          </table></td>
      </tr>
      
    </table>
    <br>
    <p align="center" class="mainText"><a href="http://amhsoft.com"></a>All rights reserved &copy; 2006-2013 <a href="http://amhsoft.com">amhsoft.com</a></p>
  </body>
</html>
