<fieldset>
  <legend>{'Information'|tr}</legend>
  <div class="{$class}">{$message}</div>
</fieldset>
<fieldset>
  <legend>
<!--    <span class="edit"><a href="admin.php?module=setting&page=template-email-list">{'Manage Email templates'|tr}</a></span> | -->
    <span class="edit"><a href="admin.php?module=webmail&page=setting-list">{'Mail server settings'|tr}</a></span> 
  </legend>
  <ul id='tab'>
    <li><a class="current" href='#'>{'Account Settings'|tr}</a></li>
    <li><a href='admin.php?module=crm&page=contactsetting' >{'Contact Settings'|tr}</a></li>
  </ul>
  <div class="panel">
    {$panel->Render()}
  </div>
</fieldset>
