{$breadcrumb}
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-9 col-lg-9">
            <!--left content column-->
            <div aria-multiselectable="true" role="tablist" id="accordion" class="panel-group">
                <div class="panel sauget-accordion">
                    <div aria-labelledby="headingOne" role="tabpanel" class="panel-collapse collapse in" id="checkoutMethod" aria-expanded="true" style="">
                        <div class="content-info">
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                 <div class="checkout-login">
                                <div class="checkTitle">
                                   
                                        <h6 class="ct-design">{'Reset Password'|tr}</h6>
                                    </div> 
                                    {if $message} 
                                    <div class="alert_box r_corners color_red error m_bottom_10">
                                        <i class="fa fa-meh-o"></i><p>{$message}</p>
                                    </div>
                                    {/if}
                                    {$form->Render()}
                                </div>
                            </div> 


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
