{$breadcrumb}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="form-title">
                <h1>{'Open a new account'|tr} </h1>
            </div>
        </div>
    </div>

    {if $registration_message}
    {$registration_message}
    {/if}

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="fieldset">

                {$quickregform->Render()}
            </div>
        </div>
    </div>


</div>

