<div class="core_content" style="min-height: 38px">
    <h3 class="active">{'Account Information'|tr}</h3>
    <div style="padding: 10px 10px 30px 10px">
        {$quickregform->Render()}
    </div>
</div>
<br />
<div class="core_content" style="min-height: 38px">
    <h3 class="active">{'Invoice Address'|tr}</h3>
</div>

<br />
<div class="core_content" style="min-height: 38px">
    <h3 class="active">{'Payment Method'|tr}</h3>
</div>
<br />
<div class="core_content" style="min-height: 38px">
    <h3 class="active">{'Preview Order'|tr}</h3>
</div>
