{$breadcrumb}
<!-- BREADCRUMBS-AREA-END -->
<div class="contuct-form-map">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                    <div class="contuct-form">

                        <h1>{'Contact Form'|tr}</h1>
                        <p class="m_bottom_10">{'Send an email. All fields with an'|tr} <span class="scheme_color">*</span> {'are required'|tr}.</p>

                        {$formn->Render()}

                    </div>
               
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="map-area">

                    {if $pageContent}
                    <div id="map_canvas" style="width:100%;height:100%;">{$pageContent}</div>
                    {/if}

                </div>
                <div class="map-caption">
                    <h2>GIVE US A CALL</h2>
                    <p><i class="fa fa-map-marker f_left color_dark"></i>{$shop->adress}</p>
                    <i class="fa fa-phone-square"></i>
                    <strong>{$shop->tel}</strong>
                    </br>

                    <i class="fa fa-envelope f_left color_dark"></i>

                    <strong>{$shop->email}</strong>


                </div>
            </div>


        </div>
    </div>
</div>