<div class="core_content" style="width: 200px">
  <div  style="width:200px; min-height: 400px;">
    <h2 class="page_title">{'My Account'|tr}</h2>
    <ul>
      <li><a href="index.php?module=crm&page=intern-shop-home">{'Home'|tr}</a></li>
      <li><a href="index.php?module=crm&page=intern-shop-account">{'Account Information'|tr}</a></li>
      <li><a href="index.php?module=crm&page=intern-shop-address-list">{'Manage Addresses'|tr}</a></li>
      <li><a href="index.php?module=crm&page=intern-shop-changepassword">{'Change Password'|tr}</a></li>
      <li><a href="index.php?module=crm&page=intern-shop-salesorder">{'Sales Order'|tr}</a></li>
      <li><a href="index.php?module=crm&page=intern-shop-invoice">{'Invoices'|tr}</a></li>
      <li><a href="index.php?module=crm&page=intern-shop-setting">{'Settings'|tr}</a></li>
      <li><a href="index.php?module=crm&page=contact">{'Contact Shop Owner'|tr}</a></li>
      <li><a href="index.php?module=crm&page=intern-shop-newsletter">{'Newsletter Subscription'|tr}</a></li>
      <li><a href="index.php?module=crm&page=intern-shop-policy">{'Policy'|tr}</a></li>
    </ul>
  </div>
</div>