<div id="about" data-role="view" data-title="Motorsouq">
    <div class="head" style="background: white; border-bottom: 4px solid #BA0000"><img src="http://motorssouq.com/Motorssouq/Resources/motors_souq_logo.png" /></div>
    <h2>{'About Motorssouq'|tr}</h2>
    <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-align="left" data-role="backbutton">{'Back'|tr}</a>
        </div>
    </header>
    <p>Motorssouq is</p>
</div>
