<table width="100%" cellspacing="2">
<tr>
    <td width="50%">
        <h1 class="page_title">title 1</h1>
        <div class="page_content">content 1</div>
    </td>
    <td>
        <h1 class="page_title">title 2</h1>
        <div class="page_content">content 2</div>
    </td>
</tr>
<tr>
    <td width="50%">
        <h1 class="page_title">title 1</h1>
        <div class="page_content">content 1</div>
    </td>
    <td>
        <h1 class="page_title">title 2</h1>
        <div class="page_content">content 2</div>
    </td>
</tr>

</table>
