<a class="active">Shopping Cart</a>
<table style="width: 100%; padding: 10px; text-align: left; border: 1px solid white">
    <tr>
        <th style="background: #E8E8E8"></th>
        <th style="background: #E8E8E8">Product</th>
        <th style="background: #E8E8E8">Quantity</th>
        <th style="background: #E8E8E8">Item price</th>
        <th style="background: #E8E8E8">Total Price</th>
    </tr>
    <tr  style="width: 100%; padding: 10px; border-bottom: 1px solid black">
        <td style="width: 140px;">  <img src="media/product/image/bww197x07.jpg" height="100px" style="margin: 5px"  /></td>
        <td style="width: 140px;"><b>Jacket</b>
            <br />
            Productnr. 96905494<br />
            Color: red<br />
            Size: 100
        </td>
        <td>1</td>
        <td>199€</td>
        <td>199€</td>
    </tr>
    <tr>
        <td colspan="3"></td>
        <td><b>{'Summe'|tr}:</b></td>
        <td><b>199€</b></td>
    </tr>
    <tr>
        <td><button type="submit" class="button-general bblue">{'Continue'|tr}</button></td>
        <td></td>
        <td></td>
        <td></td>
        <td><button type="submit" class="button-general bgreen">{'Buy Now'|tr}</button></td>
    </tr>
</table>