<a class="active">Compare Products</a>
<table border="1px">
  <tr>
    <td></td>
    <td style="float: center;">
      <img src="/projects/crm/media/product/image/17_2.jpg" height="200px" width="200px">
      <p>HD READY TV</p><br>
      <p>200.000 EUR</p>
      <p><button type="submit" class="button-general bgreen">{'Add to Cart'|tr}</button></p>
      <a href="#">Add To Whish List</a>
    </td>
    <td style="float: center;">
      <img src="/projects/crm/media/product/image/17_1.jpg" height="200px" width="200px">
      <p>HD READY TV</p><br>
      <p>200.000 EUR</p>
      <p><button type="submit" class="button-general bgreen">{'Add to Cart'|tr}</button></p>
      <a href="#">Add To Whish List</a>
    </td>
    <td style="float: center;">
      <img src="/projects/crm/media/product/image/17_2.jpg" height="200px" width="200px">
      <p>HD READY TV</p><br>
      <p>200.000 EUR</p>
      <p><button type="submit" class="button-general bgreen">{'Add to Cart'|tr}</button></p>
      <a href="#">Add To Whish List</a>

    </td>
    <td style="float: center;">
      <img src="/projects/crm/media/product/image/17_3.jpg" height="200px" width="200px">
      <p>HD READY TV</p><br>
      <p>200.000 EUR</p>
      <p><button type="submit" class="button-general bgreen">{'Add to Cart'|tr}</button></p>
      <a href="#">Add To Whish List</a>
    </td>
  </tr>
  <tr>
    <td>Description</td>
    <td>
      <p>
        Lorem ipsum dolor sit amet, Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </td>
    <td>
      <p>
        Lorem ipsum dolor sit amet, Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </td>
    <td>
      <p>
        Lorem ipsum dolor sit amet, Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </td>
    <td>
      <p>
        Lorem ipsum dolor sit amet, Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </td>

  </tr>
  <tr>
    <td>Short Description</td>
    <td>
      <p>
        Lorem ipsum dolor sit amet.
      </p>
    </td>
    <td>
      <p>
        Lorem ipsum dolor sit amet.
      </p>
    </td>
    <td>
      <p>
        Lorem ipsum dolor sit amet.
      </p>
    </td>
    <td>
      <p>
        Lorem ipsum dolor sit amet.
      </p>
    </td>

  </tr>
  <td>Size</td>
  <td>
    <p>
      84
    </p>
  </td>
  <td>
    <p>
      60
    </p>
  </td>
  <td>
    <p>
      58
    </p>
  </td>
  <td>
    <p>
      42
    </p>
  </td>

</tr>
<td>Color</td>
<td>
  <p>
    Green
  </p>
</td>
<td>
  <p>
    White
  </p>
</td>
<td>
  <p>
    Green
  </p>
</td>
<td>
  <p>
    Orange
  </p>
</td>

</tr>
<tr>
  <td>
    
  </td>

  <td style="float: center;">
    <p>200.000 EUR</p>
    <p><button type="submit" class="button-general red">{'Add to Cart'|tr}</button></p>
    <a href="#">Add To Whish List</a>
  </td>
   <td style="float: center;">
    <p>200.000 EUR</p>
    <p><button type="submit" class="button-general red">{'Add to Cart'|tr}</button></p>
    <a href="#">Add To Whish List</a>
  </td>
   <td style="float: center;">
    <p>200.000 EUR</p>
    <p><button type="submit" class="button-general red">{'Add to Cart'|tr}</button></p>
    <a href="#">Add To Whish List</a>
  </td>
   <td style="float: center;">
    <p>200.000 EUR</p>
    <p><button type="submit" class="button-general red">{'Add to Cart'|tr}</button></p>
    <a href="#">Add To Whish List</a>
  </td>
</tr>
</table>